.project-card {
  padding: 16px;
  width: 20rem;
  border-radius: 0.375rem;
  background-color: rgba(42, 42, 42, 0.64);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  word-break: break-word;
}

.project-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

.project-card .tag-button {
  cursor: pointer;
  padding: 2px 10px;
  background-color: #4b5563; /* Equivalent to primary-800 */
  font-size: 0.875rem;
  border-radius: 0.375rem;
  text-decoration: none;
}

.project-card .tag-button:hover {
  text-decoration: underline;
}

.project-card p {
  margin-bottom: 16px;
  word-break: break-word;
}

.project-card .mentor-section {
  margin-bottom: 20px;
}

.project-card .mentor,
.project-card .co-mentor {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  font-weight: 600;
}

.project-card .mentor a,
.project-card .co-mentor a {
  font-weight: 700;
  font-size: 1rem;
  color: #3b82f6; /* Equivalent to primary-500 */
  text-decoration: none;
}

.project-card .mentor a:hover,
.project-card .co-mentor a:hover {
  color: #2563eb; /* Equivalent to primary-600 */
  text-decoration: underline;
}

.project-card .co-mentor a.disabled {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

.project-card .buttons {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  gap: 8px;
}

.project-card .buttons a {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  width: 100%;
  padding: 4px;
  background-color: #374151; /* Equivalent to primary-700 */
  border-radius: 0.375rem;
  color: white;
  text-decoration: none;
}

.project-card .buttons a:hover {
  background-color: #1f2937; /* Equivalent to primary-800 */
}
