.testimonial-card {
  padding: 1.25rem 2rem;
  background-color: #25255c;
  border-radius: 0.5rem;
  align-items: center;
  border: 1px solid #ffffff87;

}
.card{
  background-color: #25255c;
 
}

/*.testimonial-header {
  display: flex;
  align-items: center;
 gap: 1rem;
  margin-bottom: 2rem;
}
.testimonials-subtitle{
  font-size: 2rem;
  font-weight: bold;
  
}*/
.line{
  color: #e8ebf24a;
}

.testimonial-avatar {
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
background-color: #25255c;
margin-top: -4rem;
margin-left: 13.5rem;
  width: 10.5rem;
  height: 10.5rem;
  
}

.avatar{
  align-items: center;
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  
}


.testimonial-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  
}

.testimonial-role {
  color: #9292a5; /* equivalent to Tailwind's text-zinc-500 */
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -2.5rem;
}

.testimonial-quote-container {
  width: 100%;
  margin-bottom: 0.3rem;
}

.testimonial-quote {
  font-size: 1.5rem;
  color: #e8ebf2; /* equivalent to Tailwind's text-gray-400 */
  text-align: justify;
  position: relative;
  
}

.testimonial-quote-symbol {
  
    position: relative;
    
line-height: 1;
margin-top: 0rem;
display: block;
  }
  
  .q{
    height: 5rem;
    line-height: 1rem;
    
  }
  
 



.read-blog-button {
  display: inline-block;
  padding: 0.5rem 1.0rem;
 
  border-radius: 0.5rem;
  text-align: center;
  font-style: italic;
  color: rgb(187, 177, 177);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
    margin-top: -1rem;
}

.read-blog-button:hover {
  background-color: #a2adc5; /* equivalent to primary-900 */
  color: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
