.testimonials-container {
  padding: 50px 20px;
  max-width: 1200px;
  min-height: 900px;
  margin: 0 auto;
  text-align: center;
}

.testimonials-header {
  margin-bottom: 30px;
}

.testimonials-subtitle {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.testimonial-slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.card {
  width: 650px;
  height: 1rem;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

.card.active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.card.previous,
.card.next {
  transform: scale(0.9);
  opacity: 0.8;
  z-index: 1;
}


  @media (max-width: 768px) {
    .testimonials-container {
      padding: 40px 15px;
      min-height: 1000px;
    }
  
    .testimonials-title {
      font-size: 2.5rem;
    }
  
    .testimonials-subtitle {
      font-size: 1.2rem;
    }
  
    .card {
      width: 250px;
      height: 350px;
      position: relative;
      transform: scale(1);
      opacity: 1;
    }
  
   
    
  
    /* Adjust testimonial card styling for mobile */
    .testimonial-card {
      padding: 1rem 1.5rem;
      background-color: #25255c;
      border-radius: 0.5rem;
      align-items: center;
      border: 1px solid #ffffff87;
    }
  
    /* Avatar size adjustments for mobile */
    .testimonial-avatar {
      margin-top: -2rem;
      margin-left: 2rem;
      width: 5rem;
      height: 5rem;
    }
  
    .testimonial-name {
      font-size: 1rem;
    }
  
    .testimonial-role {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
  
    .testimonial-quote {
      font-size: 0.9rem;
    }
  
    /* Adjust Read Blog Button */
    .read-blog-button {
      font-size: 0.9rem;
      padding: 0.3rem 0.8rem;
      margin-top: -0.5rem;
    }
    .testimonial-slideshow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: relative;
    }
    
    .card {
      width: 300px;
      height: 1rem;
      position: absolute;
      transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
      transform: scale(0.8);
      opacity: 0.6;
      z-index: 0;
    }
    
    .card.active {
      transform: scale(1);
      opacity: 1;
      z-index: 2;
    }
    
    .card.previous,
    .card.next {
      transform: scale(0.9);
      opacity: 0.8;
      z-index: 1;
    }
  }

